::-moz-focus-inner {
  border: 0;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #424242;
  background-color: whitesmoke;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #326ed4;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #cccccc;
}

pre,
code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: white;
  color: #326ed4;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.9em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--bold {
  font-weight: bold;
}

.default,
.predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr),
.predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.navigation {
  --gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: 0 auto;
}
.navigation, .navigation__item {
  display: flex;
  align-items: center;
}
.navigation__item {
  flex-grow: 1;
  flex-basis: 50%;
}
.navigation__item:last-of-type {
  justify-content: flex-end;
}
.navigation__separator {
  border-left: 1px solid #cccccc;
  margin-left: var(--gap);
  margin-right: var(--gap);
  height: 30px;
}

.menu {
  --gap: 10px;
  padding: 0;
  margin: 0;
}
.menu, .menu__item, .menu__enlace {
  display: flex;
}
.menu__item {
  margin: 0;
  padding-left: 0;
}
.menu__item:not(:first-of-type) .menu__enlace {
  padding-left: calc(var(--gap) / 2);
}
.menu__item:not(:last-of-type) .menu__enlace {
  padding-right: calc(var(--gap) / 2);
}
.menu__enlace {
  color: inherit;
  transition: 300ms ease;
  font-weight: 600;
}
.menu__enlace:hover {
  opacity: 0.7;
}
.menu__enlace:not(:first-of-type) {
  padding-left: 10px;
  border: 1px solid;
}
.menu__enlace:not(:last-of-type) {
  padding-right: 10px;
}

.logo {
  margin-right: var(--gap);
}

.button {
  --border-color: #b3b3b3;
  --color: #424242;
  --gap: 5px;
  --icons-size: 20px;
  font: inherit;
  padding: 0 10px;
  min-height: 37px;
  background-color: var(--fondo);
  border: 1px solid var(--border-color);
  color: var(--color);
  border-radius: 4px;
  transition: 300ms ease;
  outline: medium none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button[data-display="flex"] {
  display: flex;
  width: 100%;
}
.button:hover {
  opacity: 0.85;
}
.button:active {
  opacity: 1;
  transition: none;
}
.button:focus {
  --color: #424242;
  --fondo: #ededed;
  --border-color: #cccccc;
}
.button svg {
  width: var(--icons-size);
  height: var(--icons-size);
  display: flex;
}
.button path {
  fill: var(--color);
}
.button span:not(:first-of-type) {
  margin-left: var(--gap);
}
.button--default:hover {
  --fondo: rgba(50, 110, 212, 0.1);
  border: 1px solid rgba(50, 110, 212, 0.4);
  color: #1e304f;
}
.button--default:focus {
  --fondo: rgba(50, 110, 212, 0.2);
  --border-color: rgba(50, 110, 212, 0.4);
  --color: #1e304f;
}
.button--default:active {
  border-color: 1px solid rgba(50, 110, 212, 0.9);
  transition: none;
}
.button--primary {
  --fondo: #004ac9;
  --border-color: transparent;
  --color: white;
}
.button--primary svg {
  --color: rgba(255, 255, 255, 0.3);
}
.button--primary:focus {
  --fondo: #275ebb;
  --color: white;
}

.search {
  --width-button: 45px;
  --radio: 5px;
  height: var(--width-button);
  min-width: 250px;
}
.search, .search__form {
  display: flex;
}
.search, .search__text {
  position: relative;
}
.search__form, .search__text {
  flex-grow: 1;
}
.search__text {
  overflow: hidden;
  border-radius: 5px;
}
.search__text [type="text"],
.search__text [type="search"] {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: none;
  font-family: inherit;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: calc(var(--width-button) + 10px);
  border: 1px solid #cccccc;
  color: #424242;
  outline: medium none;
  border-radius: var(--radio);
  transition: 300ms ease;
  background-color: #cccccc;
  z-index: 0;
}
.search__text [type="text"]:focus,
.search__text [type="search"]:focus {
  border: 1px solid #326ed4;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(50, 110, 212, 0.3);
}
.search__button {
  --diametro: 20px;
  --border: 4px;
  position: absolute;
  margin: auto;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--width-button);
  border-radius: 0 5px 5px 0;
  z-index: 1;
}
.search__button svg {
  width: var(--diametro);
  height: var(--diametro);
}
.search__button path {
  fill: white;
}

.login {
  --gap: 10px;
  border: 1px solid #326ed4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__form {
  transition: 300ms ease;
  padding: 80px 50px;
  width: calc(100% - 20px);
  max-width: 460px;
  background-color: #fcfcfc;
  border: 1px solid white;
}
@media screen and (max-width: 400px) {
  .login__form {
    padding: 80px 20px;
  }
}
.login__text {
  display: block;
  position: relative;
  height: 45px;
}
.login__text:not(:last-of-type) {
  margin-bottom: var(--gap);
}
.login__text [type="text"],
.login__text [type="password"] {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font: inherit;
  padding: 0 10px;
  outline: medium none;
  background-image: none;
  background-color: transparent;
  border: 1px solid #cccccc;
  transition: 300ms ease;
}
.login__text [type="text"]:focus,
.login__text [type="password"]:focus {
  border-color: #326ed4;
  box-shadow: inset 0 0 5px rgba(50, 110, 212, 0.3);
}
.login__info {
  font-size: 0.9rem;
}
.login__enlace {
  color: #737373;
  transition: 300ms ease;
}
.login__enlace:hover {
  color: #595959;
}
.login__enlace:active {
  color: #737373;
  transition: none;
}
.login__recordar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login__button {
  display: flex;
  min-height: 45px;
}

.toggle-button {
  --size: 35px;
  --diferencia: 1.7;
  border: 1px solid #cccccc;
  width: var(--size);
  height: calc(var(--size) / var(--diferencia));
  border-radius: calc(var(--size) / 2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms ease;
  outline: medium none;
  --border: 1px solid rgba(50, 110, 212, 0.5);
}
.toggle-button ~ * {
  transition: 300ms;
}
.toggle-button:focus {
  border: var(--border);
}
.toggle-button:focus ~ * {
  color: #647ba2;
}
.toggle-button:focus::before {
  border: inherit;
}
.toggle-button::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 3px;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  width: calc(var(--size) / 2 - 4px);
  height: calc(var(--size) / 2 - 4px);
  transition: 300ms ease left;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.toggle-button--activo {
  border: 1px solid #326ed4;
  background-color: #dbe5f7;
}
.toggle-button--activo::before {
  left: calc(100% - calc(var(--size) / 2 - 2px));
  background-color: #326ed4;
  box-shadow: 0 0 5px rgba(50, 110, 212, 0.5);
}

.splide__list {
  display: flex;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
